$color-white:#fff;
$color-black:#000;
$color-green:#27ae60;
$color-gray:#7f8c8d;
$color-purple:#8e44ad;
$color-gold:#f1c40f;
$color-turqoise:#1abc9c;
$color-pearl:#1e272e;
$color-blue:#227093 ;
$color-red:red;
$color-linear-gradient-yellow:#F4D03F;
$color-linear-gradient-green:#16A085;
$container-size:30rem;